@import "~/.config/waybar/colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    min-height: 0px;
}

window#waybar {
    background-color: alpha(@background, 0.0);
    color: @on_background;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @surface_container_lowest;
    border-radius: 20px;
    padding: 4px 8px;
    margin: 4px;
}

#clock,
#pulseaudio,
#network,
#backlight,
#cpu,
#memory,
#idle_inhibitor,
#tray,
#bluetooth,
#custom-power,
#custom-weather,
#custom-nix,
#custom-swaync,
#custom-temperature {
    background-color: transparent;
    color: @on_surface;
    padding: 0px 12px;
    margin: 0px 2px;
}

#network,
#cpu,
#memory,
#idle_inhibitor,
#custom-temperature,
#custom-light {
    font-size: 14px;
}

#custom-nix {
    color: @primary;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 8px;
}

#workspaces {
    padding: 0px;
}

#workspaces button {
    font-size: 16px;
    font-weight: 900;
    min-width: 20px;
    padding: 0px;
    margin: 4px 6px;
    color: @surface_variant;
    background-color: @surface_variant;
    border-radius: 20px;
    transition: all 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#workspaces button.active {
    color: @on_primary;
    background-color: @primary;
    min-width: 45px;
}

#workspaces button:hover {
    background-color: @primary_container;
    color: @on_primary_container;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
}

#clock {
    color: @on_primary_container;
    border-radius: 14px;
    margin: 4px 2px;
}

#pulseaudio {
    color: @tertiary;
}

#pulseaudio.muted {
    color: @error;
}

#network {
    color: @primary;
}

#network.disconnected,
#network.disabled {
    color: @error;
}

#network.ethernet,
#network.linked,
#network.wifi {
    color: @primary;
}

#custom-swaync {
    color: @secondary;
}

#custom-power {
    color: @error;
    background-color: @error_container;
    border-radius: 14px;
    margin: 4px 2px;
    padding: 0px 14px;
}

#temperature.critical {
    color: @error;
}

#cava {
    color: @tertiary;
    margin: 0px 12px;
    background-color: transparent;
}

#battery {
    background-color: @primary;
    color: @on_primary;
    margin: 4px 4px;
    padding: 0px 10px;
    font-size: 13px;
    border-radius: 14px;
}

#battery.charging,
#battery.plugged {
    color: @on_primary_container;
    background-color: @primary_container;
}

#battery.warning {
    color: @on_error_container;
    background-color: @error_container;
}

#battery.critical:not(.charging) {
    color: @on_error;
    background-color: @error;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: @error;
    }
}
